{% load static %}
<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="">
        <meta name="author" content="Ash">
        <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
            <div id="header-text">
                <a id="header-link" href="{% url 'news:index' %}">
                    <img src= "{% static "news/images/logo_long.png" %}" alt="home" />
                    {% comment %} <h1>She {Codes} News</h1> {% endcomment %}
                </a>
            </div>
            <!-- include nav here -->
            {% include './nav.html' %}
        </header>

        <!-- content blocks here -->
        {% block content %}{% endblock %}
    </body>
</html>
