<nav style="margin: 0% 20% 0% 0%">
    <ul>
    <li><a href="{% url 'news:index' %}">Home</a></li>
    {% if request.user.is_authenticated %}
        <li><a href="{% url 'users:profile' pk=request.user.id %}">My Profile</a></li>
        <li><a href="{% url 'news:newStory' %}">Write New Story</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
        <li> <a href="{% url 'login' %}">Login</a></li>
        {% comment %} <li> <a href="{% url 'users:createAccount' %}">Sign Up</a></li> {% endcomment %}
    {% endif %}
    </ul>
</nav>
