
    {% extends "base.html" %}
    {% load static %}

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
    {% endblock %}

    {% block content%}

    <h2 id="index-heading">Latest News</h2>

    <div class="glide" >
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                {% for story in latest_stories %}
                <li class="glide__slide">
                    {% include './storyCard.html' with story=story position=forloop.counter %}
                </li>
                {% endfor %}
            </ul>
        </div>
    <div>

    <h2 id="index-heading">All News</h2>

    <div id="all-stories">
        {% if latest_stories %}
            {% for story in all_stories %}
                {% include './storyCard.html' with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>
    {% endblock %}